In [1]:
from bs4 import BeautifulSoup
import requests

/Users/andrewschuetz/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

In [3]:
page = requests.get(url)

In [4]:
soup = BeautifulSoup(page.text, 'html')

In [5]:
#find the table tag with class of 'wikitable sortable'
table = soup.find('table', class_ ='wikitable sortable')

In [6]:
#find all table headers in the table variable
world_titles = table.find_all('th')

In [7]:
#Stripping whitespace from world_titles and storing them in a separate array
world_table_titles = [title.text.strip() for title in world_titles]
print(world_table_titles)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [8]:
import pandas as pd

/var/folders/5q/m01lxkx11579_bn2bhzm46800000gn/T/ipykernel_43439/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [9]:
# Create an empty DataFrame with column names taken from world_table_titles
# world_table_titles should be a list containing the column names
df = pd.DataFrame(columns = world_table_titles)

df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [10]:
# Find all table rows ('tr' elements) within the 'table' element
# table should be a BeautifulSoup Tag object representing the HTML table
column_data = table.find_all('tr')

In [11]:
for row in column_data[1:]:
    # Find all table data ('td' elements) within the current table row ('tr' element)
    row_data = row.find_all('td')

    # Extract the text content from each table data element and strip any leading or trailing whitespace
    individual_row_data = [data.text.strip() for data in row_data]
    #print(individual_row_data)

    # Add a new row to the DataFrame with the extracted data

    # Get the current length of the DataFrame
    length = len(df)
    # Assign the individual_row_data to the new row in the DataFrame
    df.loc[length] = individual_row_data

In [12]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,ExxonMobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
95,96,Best Buy,Retail,"46,298",10.6%,"71,100","Richfield, Minnesota"
96,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.5%,"34,300","New York City, New York"
97,98,United Airlines,Airline,"44,955",82.5%,"92,795","Chicago, Illinois"
98,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.5%,"130,000","Waltham, Massachusetts"
99,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"

In [15]:
# Save the DataFrame to a CSV file
# '/Users/andrewschuetz/Desktop/Companies.csv' is the file path where the CSV will be saved
# Setting index=False ensures that the index labels are not included in the CSV
df.to_csv(r'/Users/andrewschuetz/Desktop/Companies.csv', index=False)